/*

Type: Browser
URL: http://mtgbot.tv/overlay/compact.html?username=XXXXXX
Width: 255
Height: 55
✓ Use custom frame rate
FPS: 30

*/

@import url("https://pauperformance.com/arena/obs/pauperformance_font.css");

body {
    overflow: hidden;
    background: transparent;
}

#background {
    border-color: #9b8337 !important;
}

#statustext {
    font-size: 16px;
    font-family: 'qavo_personal_useregular';
}

#tourntext {
    font-family: 'qavo_personal_useregular';
}

#recordtext {
    font-size: 25px;
    font-family: 'qavo_personal_useregular';
}
