/*

Type: Browser
URL: https://www.mtggoldfish.com/deck/popout?id=XXXXXX
Width: 800
Height: 50
✓ Use custom frame rate
FPS: 30

*/

@import url("https://pauperformance.com/arena/obs/pauperformance_font.css");

body {
    overflow: hidden;
    background: transparent;
    visibility: hidden;
}

.popout-deck-title {
    visibility: visible;
    font-size: 20px !important;
    font-family: 'qavo_personal_useregular';
}

.popout-deck-container {
    width: max-content;
    height: max-content;
}
